.containerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;

    font-size: 1.5rem;
    color: white;
    padding: 0.5rem;
    border-bottom: 2px solid #f44336
}

span {
    font-size: 2rem;
    font-weight: 500;
    color: #b71c1c;
    margin-left: 2rem;
}

nav {
    display: flex;
    gap: 30px;
    margin-right: 3rem;

    a {
        text-decoration: none;
        color: white;
    }
}