@charset "UTF-8";

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
 }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d67b78;
    height: 100vh;
}

header {
    font-size: 1.5rem;

    margin-bottom: 30px;
}

article {
    width: 500px;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.523);    
}

footer {
    font-size: 1.1rem;
    margin-top: 100px;
}

a {
    text-decoration: none;
}


img {
    width: 250px;
    padding: 30px 0 10px 0;
}