.containerHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 68px;

    color: white;
    font-size: 1.5rem;
    background-color: black;
    border-bottom: 2px solid #f44336;
}

span {
    color: #b71c1c;
    font-size: 2rem;
    font-weight: 500;
}

nav {
    display: flex;
    gap: 30px;

    a {
        text-decoration: none;
        color: white;
    }
}